In [2]:
import pandas as pd

In [273]:
path_to_file = "/Users/aidanairuser/Desktop/arbres_via_gg.csv"

trees = pd.read_csv(path_to_file, encoding = 'utf-8')

In [274]:
trees.shape

(203530, 17)

In [275]:
trees.head(5)

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,167154,Arbre,CIMETIERE,SEINE-SAINT-DENIS,NaN,NaN,CIMETIERE DE PANTIN / AVENUE DES SOPHORAS / DI...,A08600083004,Sophora,Sophora,japonica,NaN,0,0,NaN,NaN,"48.9043605622, 2.41027078205"
1,168776,Arbre,CIMETIERE,PARIS 19E ARRDT,NaN,NaN,CIMETIERE DE LA VILLETTE / CHEMIN DE L'EST / D...,A157000F5010,Tilleul,Tilia,cordata,NaN,60,0,NaN,NaN,"48.8849483852, 2.3899845825"
2,186609,Arbre,DASCO,PARIS 18E ARRDT,NaN,NaN,ECOLE ELEMENTAIRE / 9 RUE RICHOMME,111201005,Platane,Platanus,x hispanica,NaN,77,10,JA,0.0,"48.8861703304, 2.35264413443"
3,190877,Arbre,DFPE,PARIS 15E ARRDT,NaN,NaN,CRECHE COLLECTIVE / 73 AVENUE FELIX FAURE,22630006,Platane,Platanus,x hispanica,NaN,150,16,A,0.0,"48.8398807772, 2.28610401896"
4,194855,Arbre,PERIPHERIQUE,PARIS 16E ARRDT,NaN,NaN,TALUS N°16-01,91601008,Peuplier,Populus,alba,Pyramidalis',37,6,J,0.0,"48.8764594303, 2.27959392233"

In [276]:
# renommer certaines colonnes pour plus de facilité

trees.rename(columns={'LIEU / ADRESSE':'ADRESSE', 'HAUTEUR (m)':'HAUTEURENM'}, inplace=True)


## Infos manquantes

In [277]:
# combien de types de 'circonférence' a-t-on?

pd.set_option('display.max_rows', 2000)

trees.CIRCONFERENCEENCM.value_counts()

# 24K lignes / arbres n'ont pas de circonference!!

0         24234
20        10818
70         6631
60         6369
50         6257
80         6103
90         5782
40         5769
30         5746
100        5452
25         5354
45         5038
75         4952
35         4862
65         4691
55         4631
110        4622
85         4313
120        3995
95         3777
130        3489
105        3478
115        2985
140        2947
150        2723
125        2571
135        2248
160        2244
145        1982
170        1888
180        1641
155        1561
10         1413
165        1358
190        1337
175        1245
200        1225
185         926
210         889
15          860
195         813
220         754
205         617
230         597
215         524
240         466
225         385
250         377
62          367
63          362
67          359
72          355
42          347
48          345
66          335
73          334
68          333
58          330
57          328
52          327
78          323
53          323
82          321
18          319
38          318
74          315
5           312
32          308
77          308
56          306
64          303
76          303
87          300
235         299
44          297
47          295
37          289
88          285
84          285
43          278
54          277
46          275
260         274
83          274
36          271
33          269
107         267
92          265
102         264
86          263
94          261
96          259
97          256
28          255
112         252
93          250
245         250
59          235
108         232
34          229
270         227
98          225
69          223
27          216
61          215
103         213
113         202
118         202
79          200
104         197
49          196
122         195
106         194
117         193
26          193
71          185
51          184
123         182
41          181
255         175
22          173
114         172
91          171
132         169
81          167
24          166
116         165
39          164
280         160
101         159
126         156
31          155
134         152
127         151
89          148
142         146
29          142
138         141
137         141
133         138
23          137
128         134
136         131
265         130
300         126
124         125
290         122
21          121
99          118
121         117
146         111
275         111
111         111
143         108
152         107
109         106
147         101
158         101
153          99
144          99
154          98
119          97
164          96
163          96
16           93
156          92
168          91
157          89
320          88
131          87
148          87
162          84
129          82
141          78
167          78
172          74
166          72
310          72
12           72
285          71
173          70
17           68
182          67
183          67
295          66
151          63
177          62
19           61
305          59
178          59
174          58
330          57
14           55
188          55
176          54
139          53
196          52
192          51
194          50
350          49
186          49
315          49
197          48
149          47
198          47
159          47
187          47
202          47
206          47
184          45
340          45
203          44
171          41
161          41
212          40
325          40
193          39
169          39
216          38
204          37
207          37
234          34
218          32
217          31
223          30
222          30
181          29
224          29
213          29
208          29
228          28
227          28
248          28
236          27
244          27
189          26
179          26
360          25
11           25
8            25
247          24
345          24
201          24
231          24
232          23
243          23
335          23
221          23
242          22
233          22
370          22
237          22
226          22
380          21
241          21
256          21
400          21
13           20
214          20
266          19
219          19
268          18
191          18
390          18
6            18
254          18
355          17
229          17
257          17
209          17
450          16
211          16
263          16
238          15
246          15
252          15
264          14
4            14
253          14
258          14
294          14
7            13
3            13
259          12
251          12
273          12
420          12
262          11
410          11
276          11
9            11
288          10
277          10
274          10
239           9
269           9
480           9
278           9
2             9
395           9
365           9
261           8
375           8
430           8
287           8
308           8
272           8
249           7
385           7
292           6
298           6
378           6
279           6
415           6
286           6
289           5
520           5
313           5
297           5
425           5
283           5
327           5
293           5
440           5
267           5
271           5
284           5
199           5
282           4
405           4
299           4
332           4
291           4
337           4
322           4
500           4
281           4
347           4
475           4
460           3
326           3
1140          3
1160          3
354           3
343           3
312           3
311           3
316           3
303           3
321           3
1             3
302           3
530           3
435           3
307           3
351           2
338           2
1120          2
352           2
296           2
318           2
445           2
700           2
309           2
404           2
383           2
495           2
482           2
555           2
464           2
449           2
407           2
1190          2
550           2
397           2
650           2
376           2
363           2
1240          2
534           1
645           1
527           1
535           1
770           1
1801          1
784           1
900           1
532           1
2196          1
391           1
660           1
780           1
1155          1
525           1
396           1
401           1
790           1
408           1
399           1
1151          1
411           1
2150          1
1124          1
160170        1
356           1
608           1
607           1
479           1
478           1
349           1
604           1
346           1
1112          1
600           1
472           1
344           1
470           1
342           1
2260          1
468           1
595           1
2130          1
1106          1
465           1
1360          1
9035          1
1230          1
357           1
1000          1
539           1
2025          1
1150          1
510           1
382           1
4090          1
634           1
1145          1
505           1
504           1
758           1
502           1
374           1
250255        1
372           1
371           1
1138          1
2545          1
6125          1
1135          1
367           1
366           1
1133          1
1005          1
364           1
1130          1
362           1
1102          1
334           1
331           1
458           1
436           1
30140         1
3120          1
1200          1
304           1
9130          1
686           1
558           1
8110          1
301           1
20130         1
5545          1
2090          1
2219          1
553           1
8107          1
422           1
2210          1
416           1
1054          1
670           1
542           1
414           1
110120        1
540           1
565           1
1590          1
695           1
323           1
65110         1
585           1
2120          1
328           1
6085          1
709           1
453           1
1220          1
452           1
324           1
835           1
1345          1
1337          1
577           1
6595          1
448           1
172180        1
2750          1
319           1
317           1
511           1
443           1
442           1
314           1
1340          1
Name: CIRCONFERENCEENCM, dtype: int64

In [279]:
# combien de lignes ont une circonference > 5m?, 117 paraît-il.... !!!!

trees[trees.CIRCONFERENCEENCM > 500].count()

IDBASE                117
TYPEEMPLACEMENT       117
DOMANIALITE           117
ARRONDISSEMENT        117
COMPLEMENTADRESSE      42
NUMERO                  0
ADRESSE               117
IDEMPLACEMENT         117
LIBELLEFRANCAIS       116
GENRE                 117
ESPECE                116
VARIETEOUCULTIVAR      11
CIRCONFERENCEENCM     117
HAUTEURENM            117
STADEDEVELOPPEMENT    108
REMARQUABLE           111
geo_point_2d          117
dtype: int64

In [281]:
# combien de genres différents?

trees.GENRE.value_counts().count()

175

In [282]:
# combien de espèces différents?

trees.ESPECE.value_counts().count()

537

### On décide de remplacer les valeurs abérrents avec les moyennes des genres (même si une moyenne par espèce est peut-être plus juste. A revoir.

In [283]:
"""
créer un df sans les circonferences 0s et les circonferences plus grand que 5m, afin de trouver des moyennes crédibles
"""

trees_propre_circon = trees[(trees['CIRCONFERENCEENCM'] != 0 ) & (trees['CIRCONFERENCEENCM'] <= 500)]

In [284]:
# créer un vrai nouveau DF depuis notre selection

clean_df = pd.DataFrame(trees_propre_circon)

In [286]:
""" Je vérifie : le nouveau df a bien le bon nombre de lignes, cad toutes sauf les 0s (24234) et les > 5m (117)"""

203_530 - 24_234 - 117

179179

In [285]:
# oui, le nouveau df a bien le nombre de lignes attendu

clean_df.shape

(179179, 17)

In [287]:
# sors-moi la circonference moyenne par genre, arrondi

no_dec = clean_df.groupby('GENRE').CIRCONFERENCEENCM.mean().astype(int)

# regardons les, en ordre - on constate qu'il n'y a pas de moyenne 0

no_dec.sort_values()

GENRE
Luma                   5
Asimina                7
Acca                  10
Rhamnus               10
Sapindus              10
Genista               10
Callistemon           10
Fremontodendron       10
Caragana              17
Buddleja              20
Heptacodium           20
Carica                20
Syringa               20
Aronia                20
Alangium              23
Punica                24
Nyssa                 24
x Chitalpa            24
Idesia                25
Lagerstroemia         25
Kalopanax             25
Ziziphus              25
Amelanchier           26
Cydonia               27
Hibiscus              27
Cinnamomum            28
Mespilus              29
Laburnocytisus        30
Aralia                30
Clerodendrum          30
Castanea              30
Hovenia               30
Poliothyrsis          31
Chimonanthus          32
Photinia              33
Malus                 33
Albizia               33
Enkianthus            33
Viburnum              33
Parrotia              34
Laburnum              34
Ptelea                34
Olea                  35
Ostrya                35
Platycarya            35
Laurus                35
Zanthoxylum           35
Cotinus               36
Araucaria             36
Sorbus                37
Eriobotrya            37
Juniperus             37
Cercidiphyllum        39
Pyrus                 39
Cunninghamia          39
Euscaphis             39
Sycopsis              40
Cordyline             40
Phoenix               40
Acacia                41
Cornus                43
Euonymus              43
Cotoneaster           43
Arbutus               43
Crataegus             44
Nothofagus            45
Poncirus              45
Pseudotsuga           46
Tsuga                 46
Buxus                 46
Tetradium             47
Staphylea             47
Sassafras             47
Abelia                47
Ligustrum             48
Ficus                 48
Cryptomeria           48
Cercis                48
Firmiana              49
Phillyrea             51
Liquidambar           52
x Cupressocyparis     52
Gymnocladus           53
Cladrastis            53
Magnolia              54
Carpinus              54
Ilex                  55
Hippophae             55
Trachycarpus          55
Elaeagnus             55
Koelreuteria          57
Torreya               58
Fontanesia            58
Broussonetia          59
Prunus                59
Zelkova               60
Betula                60
Cephalotaxus          61
Davidia               62
Diospyros             62
Alnus                 62
Abies                 63
Corylus               63
Gleditsia             64
Styrax                64
Tamarix               64
Picea                 66
Eucalyptus            68
Larix                 69
Phellodendron         69
Osmanthus             70
Ehretia               70
Fraxinus              70
Quercus               71
Melia                 71
Celtis                71
Non spécifié          71
Juglans               72
Thuja                 72
Ginkgo                72
Carya                 73
Thujopsis             75
Ulmus                 75
Liriodendron          76
Metasequoia           79
Morus                 82
Maackia               85
Cupressus             87
Tilia                 87
Sophora               88
Maclura               88
Acer                  88
Catalpa               89
Toona                 90
Brachychiton          90
Taxus                 90
Paulownia             90
Platycladus           91
Chamaecyparis         91
Pinus                 92
Robinia               94
Calocedrus            96
Fagus                 99
Salix                101
Ailanthus            102
Pterostyrax          105
Platanus             113
Aesculus             115
Sambucus             122
Pterocarya           124
Eucommia             125
Populus              129
Cedrus               139
Sequoia              146
Sequoiadendron       165
Taxodium             168
Pistacia             170
Rhus                 173
Name: CIRCONFERENCEENCM, dtype: int64

In [288]:
# créer un dictionnaire de genre-circonference_moyenne à partir de notre sélection

circ_moy = no_dec.to_daict()

type (circ_moy)

dict

In [289]:
# vérifier qu'en rentrant un clé 'genre', on nous rend une valeur 'moyenne'

circ_moy["Aronia"]

20

## Certains genres n'ont aucun info sur les circonferences donc ne peuvent pas fournir de moyenne.

In [290]:
# il y a 175 genres en tout

trees.GENRE.nunique()

175

In [291]:
# ATTENTION, sur les 175 genres combien de moyennes a-t-on dans notre dictionnaire?

len (no_dec)

# que 158, alors il y a 17 genres qui ont probablement 0 comme moyenne

158

In [306]:
# on crée une liste de 175 genres. Il y a 176 éléments?

all_genres = trees.GENRE.unique()
genre_list = all_genres.tolist()

len(genre_list)

176

In [296]:
# on crée une liste depuis les clés du dictionnaire

no_dec_key_list = no_dec.keys().tolist()

no_dec_key_list

['Abelia',
 'Abies',
 'Acacia',
 'Acca',
 'Acer',
 'Aesculus',
 'Ailanthus',
 'Alangium',
 'Albizia',
 'Alnus',
 'Amelanchier',
 'Aralia',
 'Araucaria',
 'Arbutus',
 'Aronia',
 'Asimina',
 'Betula',
 'Brachychiton',
 'Broussonetia',
 'Buddleja',
 'Buxus',
 'Callistemon',
 'Calocedrus',
 'Caragana',
 'Carica',
 'Carpinus',
 'Carya',
 'Castanea',
 'Catalpa',
 'Cedrus',
 'Celtis',
 'Cephalotaxus',
 'Cercidiphyllum',
 'Cercis',
 'Chamaecyparis',
 'Chimonanthus',
 'Cinnamomum',
 'Cladrastis',
 'Clerodendrum',
 'Cordyline',
 'Cornus',
 'Corylus',
 'Cotinus',
 'Cotoneaster',
 'Crataegus',
 'Cryptomeria',
 'Cunninghamia',
 'Cupressus',
 'Cydonia',
 'Davidia',
 'Diospyros',
 'Ehretia',
 'Elaeagnus',
 'Enkianthus',
 'Eriobotrya',
 'Eucalyptus',
 'Eucommia',
 'Euonymus',
 'Euscaphis',
 'Fagus',
 'Ficus',
 'Firmiana',
 'Fontanesia',
 'Fraxinus',
 'Fremontodendron',
 'Genista',
 'Ginkgo',
 'Gleditsia',
 'Gymnocladus',
 'Heptacodium',
 'Hibiscus',
 'Hippophae',
 'Hovenia',
 'Idesia',
 'Ilex',
 'Juglans',
 'Juniperus',
 'Kalopanax',
 'Koelreuteria',
 'Laburnocytisus',
 'Laburnum',
 'Lagerstroemia',
 'Larix',
 'Laurus',
 'Ligustrum',
 'Liquidambar',
 'Liriodendron',
 'Luma',
 'Maackia',
 'Maclura',
 'Magnolia',
 'Malus',
 'Melia',
 'Mespilus',
 'Metasequoia',
 'Morus',
 'Non spécifié',
 'Nothofagus',
 'Nyssa',
 'Olea',
 'Osmanthus',
 'Ostrya',
 'Parrotia',
 'Paulownia',
 'Phellodendron',
 'Phillyrea',
 'Phoenix',
 'Photinia',
 'Picea',
 'Pinus',
 'Pistacia',
 'Platanus',
 'Platycarya',
 'Platycladus',
 'Poliothyrsis',
 'Poncirus',
 'Populus',
 'Prunus',
 'Pseudotsuga',
 'Ptelea',
 'Pterocarya',
 'Pterostyrax',
 'Punica',
 'Pyrus',
 'Quercus',
 'Rhamnus',
 'Rhus',
 'Robinia',
 'Salix',
 'Sambucus',
 'Sapindus',
 'Sassafras',
 'Sequoia',
 'Sequoiadendron',
 'Sophora',
 'Sorbus',
 'Staphylea',
 'Styrax',
 'Sycopsis',
 'Syringa',
 'Tamarix',
 'Taxodium',
 'Taxus',
 'Tetradium',
 'Thuja',
 'Thujopsis',
 'Tilia',
 'Toona',
 'Torreya',
 'Trachycarpus',
 'Tsuga',
 'Ulmus',
 'Viburnum',
 'Zanthoxylum',
 'Zelkova',
 'Ziziphus',
 'x Chitalpa',
 'x Cupressocyparis']

### On revient sur le df de base, et on vire les 17 genres qui ne sont pas dans le dictionnaire (parce qu'ils n'ont pas d'info du tout en circonference)

In [321]:
# on fait une df / selection où les lignes sont retenues uniquement si le genre paraît dans le dictionnaire

ok_df = trees[trees.GENRE.isin(no_dec_key_list)]

# on crée un nouveau df depuis cette selection

df_no_zeros = pd.DataFrame(ok_df)

In [322]:
# notre selection a maintenant combien de genres?

df_no_zeros.GENRE.nunique()

# le même nombre que dans le dico. C'est bon

158

In [323]:
# et il a combien de lignes?

df_no_zeros.shape

(203492, 17)

## On fait un boucle pour trouver une circonférence abérrante, identifier le genre, retrouver une moyenne pour ce genre, et remplace la circonférence abérrante avec la moyenne

In [324]:
# circ_moy est notre dictionnaire de moyennes pour chaque genre
# liste_a_virer est notre liste des genres qui n'ont pas d'infos du tout pour fournir une moyenne (et qui sont donc
# à virer)

row = 0
length = len(df_no_zeros)
replace_counter = 0

for r in range (length):

    if df_no_zeros.iat[row, 12] == 0 or df_no_zeros.iat[row, 12] >= 500:
        genre = df_no_zeros.iat[row, 9]
        val = circ_moy[genre]
        df_no_zeros.iat[row, 12] = val
        row = row + 1
        replace_counter = replace_counter + 1
    
    else:
        row = row + 1

print ("total nb of circonferences replaced:", replace_counter)

total nb of circonferences replaced: 24317

In [325]:
# on regarde le début du df maintenant: la valuer 0 de la première ligne (circonférence) a bien été remplacé par
# 88, la moyenne pour le genre 

df_no_zeros.head(5)

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEURENM,STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,167154,Arbre,CIMETIERE,SEINE-SAINT-DENIS,NaN,NaN,CIMETIERE DE PANTIN / AVENUE DES SOPHORAS / DI...,A08600083004,Sophora,Sophora,japonica,NaN,88,0,NaN,NaN,"48.9043605622, 2.41027078205"
1,168776,Arbre,CIMETIERE,PARIS 19E ARRDT,NaN,NaN,CIMETIERE DE LA VILLETTE / CHEMIN DE L'EST / D...,A157000F5010,Tilleul,Tilia,cordata,NaN,60,0,NaN,NaN,"48.8849483852, 2.3899845825"
2,186609,Arbre,DASCO,PARIS 18E ARRDT,NaN,NaN,ECOLE ELEMENTAIRE / 9 RUE RICHOMME,111201005,Platane,Platanus,x hispanica,NaN,77,10,JA,0.0,"48.8861703304, 2.35264413443"
3,190877,Arbre,DFPE,PARIS 15E ARRDT,NaN,NaN,CRECHE COLLECTIVE / 73 AVENUE FELIX FAURE,22630006,Platane,Platanus,x hispanica,NaN,150,16,A,0.0,"48.8398807772, 2.28610401896"
4,194855,Arbre,PERIPHERIQUE,PARIS 16E ARRDT,NaN,NaN,TALUS N°16-01,91601008,Peuplier,Populus,alba,Pyramidalis',37,6,J,0.0,"48.8764594303, 2.27959392233"

In [326]:
# vérifier qu'il n'y a plus de lignes avec une circonférence 0

df_no_zeros[df_no_zeros.CIRCONFERENCEENCM ==0]

# il n'y en a plus!

Empty DataFrame
Columns: [IDBASE, TYPEEMPLACEMENT, DOMANIALITE, ARRONDISSEMENT, COMPLEMENTADRESSE, NUMERO, ADRESSE, IDEMPLACEMENT, LIBELLEFRANCAIS, GENRE, ESPECE, VARIETEOUCULTIVAR, CIRCONFERENCEENCM, HAUTEURENM, STADEDEVELOPPEMENT, REMARQUABLE, geo_point_2d]
Index: []

In [329]:
# vérifier qu'il n'y a plus de lignes avec une circonférence 0

df_no_zeros[df_no_zeros.CIRCONFERENCEENCM > 500]

# il n'y en a plus!

Empty DataFrame
Columns: [IDBASE, TYPEEMPLACEMENT, DOMANIALITE, ARRONDISSEMENT, COMPLEMENTADRESSE, NUMERO, ADRESSE, IDEMPLACEMENT, LIBELLEFRANCAIS, GENRE, ESPECE, VARIETEOUCULTIVAR, CIRCONFERENCEENCM, HAUTEURENM, STADEDEVELOPPEMENT, REMARQUABLE, geo_point_2d]
Index: []

## finalement j'ai pas utilisé

In [307]:
 
# on sort une liste des genres qui ne paraissent pas dans le dictionnaire, et qui donc n'ont probablement pas d'info    
    
def Diff(li1, li2): 
    return (list(set(li1) - set(li2))) 
  
li1 = genre_list 
li2 = no_dec_key_list

liste_a_virer = (Diff(li1, li2)) 
print (liste_a_virer)

[nan, 'Philadelphus', 'Stewartia', 'x Crataemespilus', 'x Sorbopyrus', 'Chionanthus', 'Parrotiopsis', 'Sciadopitys', 'Hemiptelea', 'Xanthoceras', 'Garrya', 'Pittosporum', 'Podocarpus', 'Brahea', 'Washingtonia', 'Rhododendron', 'Lonicera', 'Cudrania']

In [308]:
type(liste_a_virer)

list